---
import Layout from '../../layouts/Layout.astro';
import { FormMint } from '../../components/atomic/organisms/Dashboard/FormMint.dashboard';
---

<Layout title='Dashboard '>
  <div>
    <h1 class='text-4xl text-white mb-4'>Dashboard</h1>
    <FormMint client:only='react' />
  </div>
</Layout>
<script type='module'>
  const {
    state: { user },
  } = JSON.parse(window.localStorage.getItem('authStore'));

  if (!user) {
    window.location.href = '/';
  }
</script>
