---
import Layout from '../layouts/Layout.astro';
import {Logo} from '../components/atomic/atoms/Logo';
import {Menu} from '../components/atomic/organisms/Menu';
---

<Layout title="Welcome to Astro.">
	<main class='bg-general min-h-screen bg-cover bg-center w-full'>
		<header>
			<Logo/>
			<Menu/>
		</header>
		<h1>Test</h1>
	</main>
</Layout>

<style>
	
</style>
