---
import Layout from '../layouts/Layout.astro';
import { CarrouselHeroBanner } from '../components/atomic/organisms/CarrouselHeroBanner';
import ButtonAnimated from '../components/atomic/atoms/buttons/ButtonAnimated.astro';
import { NftsLists } from '../components/atomic/organisms/NftsLists';
---

<Layout title='Welcome to Marketplace NFTs Jona.'>
  <main>
    <CarrouselHeroBanner client:only='react'>
      <ButtonAnimated title='MINT' href='/explore' />
    </CarrouselHeroBanner>
    <NftsLists client:only='react' />
  </main>
</Layout>
